---
const hostname = new URL(Astro.request.url).hostname;
---
<!DOCTYPE html>
<html>
<head>
    <title>Test SSR</title>
</head>
<body>
    <h1>SSR Works!</h1>
    <p>Domain: {hostname}</p>
</body>
</html>
