---
import Layout from '../layouts/Layout.astro';

const testData = {
  title: "Test Page",
  description: "Testing",
  canonical: "https://test.com",
  project: "test",
  hostname: "unknown"
};
---

<Layout title={testData.title} description={testData.description} canonical={testData.canonical} project={testData.project} image="">
  <h1>Test Page Works!</h1>
  <p>If you see this, Layout is working.</p>
</Layout>
